#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=0.1 alpha
Name=Perl Screenshot Tool
GenericName=Screenshot Tool
Icon=screenshot-tool
Exec=perl /usr/bin/screenshot-tool.pl %U;
Categories=Utilities; Accessories;
Keywords=screenshot;
Hidden=true
StartupNotify=true
MimeType=image/png;image/bmp;image/jpeg;image/webp;image/avif;
StartupWMClass=screenshot-tool.pl
